body {
  font-family: "Inter", sans-serif;
  background-color: #000;
}

.btn {
  font-size: 16px;
  color: #000;
  line-height: 16px;
  font-family: "DM Mono", monospace;
  background: #8DFD1B;
  text-align: center;
  text-transform: capitalize;
}

/* Header */
.header__container {
  padding-top: 48px;
  max-width: 1220px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__logo-links {
  display: flex;
  gap: 40px;
}
.header__nav {
  padding-top: 4px;
}
.header__nav-list {
  display: flex;
  gap: 40px;
}
.header__nav-list-link {
  color: #fff;
  line-height: 16px;
  font-family: "DM Mono", monospace;
}
.header__social {
  display: flex;
  gap: 12px;
}
.header__social img {
  background-color: #fff;
  padding: 8px;
}

/* Section Label */
.label {
  padding-bottom: 109px;
}
.label__content-wrapper {
  display: flex;
  justify-content: space-between;
}
.label__content-text {
  padding: 133px 0 0 77px;
}
.label__content-text h1 {
  max-width: 484px;
  font-family: "Audiowide", cursive;
  font-size: 51px;
  line-height: 61px;
  color: #fff;
}
.label__content-text p {
  padding: 43px 0 115px 0;
  max-width: 340px;
  font-family: "Inter", sans-serif;
  line-height: 26px;
  color: #fff;
}
.label__content-text a {
  padding: 17px 60px 27px 60px;
}

/* Section Collection */
.collection {
  padding-bottom: 120px;
}
.collection__wrapper {
  max-width: 1160px;
  padding-left: 40px;
}
.collection__content {
  display: flex;
  justify-content: space-between;
  gap: 242px;
}

.content__text-img {
  max-width: 360px;
}
.content__text-img h2 {
  font-family: "Audiowide";
  font-size: 38px;
  line-height: 45px;
  /* identical to box height, or 120% */
  text-transform: uppercase;
  color: #FFFFFF;
}
.content__text-img p {
  margin-bottom: 41px;
  max-width: 351px;
  font-family: "Audiowide";
  font-size: 38px;
  line-height: 45px;
  /* or 120% */
  text-transform: uppercase;
  color: #A8A8A8;
}
.content__text-wrapper {
  padding-left: 66px;
}
.content__desc {
  max-width: 580px;
}
.content__desc p {
  font-family: "Inter";
  font-size: 15px;
  line-height: 26px;
  color: #FFFFFF;
}
.content__desc p:nth-child(2) {
  margin-bottom: 18px;
}
.content__desc p:nth-child(3) {
  margin-bottom: 17px;
}
.content__desc p:nth-child(4) {
  margin-bottom: 16px;
}
.content__desc p:first-child {
  position: relative;
  margin-bottom: 27px;
  width: 546px;
  font-family: "DM Mono";
  font-size: 21px;
  line-height: 32px;
  color: #8DFD1B;
}
.content__desc p:first-child::before {
  content: "";
  width: 2px;
  height: 124px;
  background: #8DFD1B;
  position: absolute;
  top: 0;
  left: -22px;
}
.content__desc-btn {
  margin-top: 50px;
}
.content__desc-btn a {
  font-family: "DM Mono", monospace;
  border: 1px solid #8DFD1B;
  padding: 10px 33px 16px 33px;
  color: #fff;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  transition: background 0.7s linear;
}
.content__desc-btn a:hover {
  background: #8DFD1B;
}

/* Artist */
.artist {
  overflow: hidden;
  padding-bottom: 127px;
}
.artist__wrapper {
  display: flex;
}
.artist__title p {
  font-family: "Audiowide", cursive;
  font-size: 79px;
  line-height: 88px;
  color: #fff;
  text-transform: uppercase;
}
.artist__title p:first-child {
  margin: 0 630px 0 -193px;
}

/* List of Artists */
.artists-list {
  padding-bottom: 240px;
}
.artists-list__wrapper {
  max-width: 1250px;
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.artists-list__person h4 {
  margin-top: 20px;
  line-height: 24px;
  font-family: "DM Mono", monospace;
  color: #fff;
  text-align: center;
}

/* Story */
.story {
  padding-bottom: 120px;
}
.story__wrapper {
  max-width: 1260px;
  padding-left: 40px;
}
.story__title {
  display: flex;
  justify-content: center;
  margin-bottom: 61px;
  text-align: center;
  text-transform: uppercase;
}
.story__title p:first-child {
  font-family: "Audiowide";
  font-size: 37px;
  line-height: 45px;
  color: #FFFFFF;
}
.story__title p:last-child {
  font-family: "Audiowide";
  font-size: 38px;
  line-height: 45px;
  color: #A8A8A8;
}
.story__section-founders, .story__section-partners, .story__section-future {
  width: 282px;
  padding: 25px 0 31px 28px;
}
.story__section-founders {
  background: #222;
}
.story__section-founders a {
  font-family: "DM Mono";
  line-height: 16px;
  font-size: 16px;
  color: #8DFD1B;
}
.story__section-partners a, .story__section-future a {
  font-family: "DM Mono";
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}
.story__text {
  display: flex;
}
.story__desc {
  max-width: 878px;
  background: #222;
  padding: 60px;
}
.story__desc-wrapper {
  display: flex;
  gap: 40px;
}
.story__desc-text p {
  font-family: "Inter";
  line-height: 26px;
  color: #FFFFFF;
}
.story__desc-text p:nth-child(2) {
  margin-bottom: 18px;
}
.story__desc-text p:nth-child(3) {
  margin-bottom: 17px;
}
.story__desc-text p:first-child {
  margin-bottom: 32px;
  max-width: 494px;
  position: relative;
  font-family: "DM Mono";
  font-size: 21px;
  line-height: 32px;
  color: #8DFD1B;
}
.story__desc-text p:first-child::before {
  content: "";
  width: 2px;
  height: 93px;
  background: #8DFD1B;
  position: absolute;
  top: 0;
  left: -22px;
}
.story__desc-title-wrapper {
  padding-left: 10px;
}

/* Background */
.background {
  padding-bottom: 120px;
}
.background__wrapper img {
  width: 100%;
}

/* Roadmap */
.roadmap {
  padding-bottom: 240px;
}
.roadmap__title p {
  margin-bottom: 61px;
  font-family: "Audiowide", cursive;
  font-size: 38px;
  line-height: 45.48px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.roadmap__stages-wrapper {
  padding: 45px 90px 48px 90px;
  max-width: 720px;
  margin: 0 auto;
}
.roadmap__stage {
  background: #222;
  border: 1px solid #8DFD1B;
  position: relative;
  z-index: 999;
}
.roadmap__stage:not(:last-child) {
  margin-bottom: 140px;
}
.roadmap__stage:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  position: absolute;
  height: 40px;
  background: #8DFD1B;
  bottom: -85px;
  left: 50%;
  transform: translateX(-50%);
}
.roadmap__stage-title {
  display: flex;
  align-items: center;
  gap: 11.75px;
  padding: 12px 12px 13px 12px;
  border-bottom: 1px solid #8DFD1B;
}
.roadmap__stage-title div:first-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  font-size: 28px;
  font-family: "DM Mono", monospace;
  line-height: 28.43px;
  color: #000;
  background: #8DFD1B;
}
.roadmap__stage-title p:first-child {
  margin-bottom: 1px;
  font-family: "DM Mono", monospace;
  font-size: 8px;
  line-height: 12px;
  /* identical to box height, or 150% */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8DFD1B;
}
.roadmap__stage-title p:last-child {
  font-family: "DM Mono", monospace;
  line-height: 28px;
  /* identical to box height, or 173% */
  text-transform: uppercase;
  color: #FFFFFF;
}
.roadmap__stage-info {
  padding: 30px 12px;
}
.roadmap__stage-info-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 75px;
}
.roadmap__stage-info-wrapper div:first-child p {
  width: 298px;
}
.roadmap__stage-info-wrapper div:nth-child(2) p {
  width: 293px;
}
.roadmap__stage-info-wrapper div:last-child p {
  width: 301px;
}
.roadmap__stage-info-wrapper ul li, .roadmap__stage-info-wrapper p {
  font-size: 11px;
  font-family: "Inter", sans-serif;
  color: #fff;
}
.roadmap__stage-info-wrapper ul {
  margin-bottom: 16.37px;
  padding-left: 22.25px;
}
.roadmap__stage-info-wrapper ul li {
  line-height: 32px;
}
.roadmap__stage-info-wrapper img {
  max-width: 129px;
  width: 100%;
  max-height: 129px;
  height: 100%;
}
.roadmap__stage-info-wrapper p {
  line-height: 25.6px;
}

/* Partners */
.partners {
  padding-bottom: 245px;
}
.partners__wrapper {
  max-width: 1200px;
  padding-left: 40px;
}
.partners__title p {
  margin-bottom: 50px;
  font-family: "DM Mono", monospace;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #8DFD1B;
}
.partners__name-wrapper {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 85px;
       column-gap: 85px;
  row-gap: 60px;
}

/* FAQ */
.faq {
  padding-bottom: 115px;
}
.faq__wrapper {
  max-width: 1350px;
  padding-left: 99px;
}
.faq__title {
  display: flex;
  -moz-column-gap: 220px;
       column-gap: 220px;
}
.faq__text p {
  font-family: "Audiowide", cursive;
  font-size: 38px;
  line-height: 45px;
  text-transform: uppercase;
}
.faq__text p:nth-child(odd) {
  color: #fff;
}
.faq__text p:nth-child(2) {
  color: #a8a8a8;
}
.faq__text-wrapper {
  margin-bottom: 51px;
}
.faq__content {
  padding: 23px 30px 29px 30px;
  background: #222222;
}
.faq__content-text p {
  max-width: 514px;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 25px;
  font-family: "Inter";
  font-size: 12px;
  line-height: 19px;
  color: #C4C4C4;
}
.faq__content-text h5 {
  margin-bottom: 26px;
  font-family: "DM Mono", monospace;
  line-height: 24px;
  color: #FFF;
}

/* Team */
.team {
  overflow: hidden;
  padding-bottom: 122px;
}
.team__wrapper {
  display: flex;
}
.team__title p {
  font-family: "Audiowide", cursive;
  font-size: 79px;
  line-height: 88px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.team__title p:first-child {
  margin: 0 390px 0 -113px;
}/*# sourceMappingURL=style.css.map */