$audiowide: 'Audiowide', cursive;
$dmmono: 'DM Mono', monospace;
$inter: 'Inter', sans-serif;

body {
    font-family: $inter;
    background-color: #000;
}

.btn {
    font-size: 16px;
    color: #000;
    line-height: 16px;
    font-family: $dmmono;
    background: #8DFD1B;
    text-align: center;
    text-transform: capitalize;
}


/* Header */

.header {
    &__container {
        padding-top: 48px;
        max-width: 1220px;
        height: fit-content;
        margin: 0 auto;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__logo-links {
        display: flex;
        gap: 40px;
    }

    &__nav {
        padding-top: 4px;
    }
    
    &__nav-list {
        display: flex;
        gap: 40px;
    }


    &__nav-list-link {
        color: #fff;
        line-height: 16px;
        font-family: $dmmono;
    }

    &__social {
        display: flex;
        gap: 12px;
        & img {
            background-color: #fff;
            padding: 8px;
        }
    }
}

/* Section Label */

.label {
    padding-bottom: 109px;
    &__content-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__content-text {
        padding: 133px 0 0 77px;
        & h1 {
            max-width: 484px;
            font-family: $audiowide;
            font-size: 51px;
            line-height: 61px;
            color: #fff;
        }

        & p {
            padding: 43px 0 115px 0;
            max-width: 340px;
            font-family: $inter;
            line-height: 26px;
            color: #fff;
        }

        & a {
            padding: 17px 60px 27px 60px;
        }
    }
}

/* Section Collection */

.collection {
    padding-bottom: 120px;
    &__wrapper {
        max-width: 1160px;
        padding-left: 40px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 242px;
    }
}

.content {
    &__text-img {
        max-width: 360px;
        & h2 {
            font-family: 'Audiowide';
            font-size: 38px;
            line-height: 45px;
            /* identical to box height, or 120% */
            text-transform: uppercase;
            color: #FFFFFF;
        }

        & p {
            margin-bottom: 41px;
            max-width: 351px;
            font-family: 'Audiowide';
            font-size: 38px;
            line-height: 45px;
            /* or 120% */
            text-transform: uppercase;
            color: #A8A8A8;
        }
    }

    &__text-wrapper {
        padding-left: 66px;
    }

    &__desc {
        max-width: 580px;
        & p {
            font-family: 'Inter';
            font-size: 15px;
            line-height: 26px;
            color: #FFFFFF;
            &:nth-child(2) {
                margin-bottom: 18px;
            }
            
            &:nth-child(3) {
                margin-bottom: 17px;
            }

            &:nth-child(4) {
                margin-bottom: 16px;
            }
        }

        & p:first-child {
            position: relative;
            margin-bottom: 27px;
            width: 546px; 
            font-family: 'DM Mono';
            font-size: 21px;
            line-height: 32px;
            color: #8DFD1B;
        }

        & p:first-child::before {
            content: "";
            width: 2px;
            height: 124px;
            background: #8DFD1B;
            position: absolute;
            top: 0;
            left: -22px;
        }
    }

    &__desc-btn {
        margin-top: 50px;
        & a {
            font-family: $dmmono;
            border: 1px solid #8DFD1B;
            padding: 10px 33px 16px 33px;
            color: #fff;
            line-height: 16px;
            text-align: center;
            text-transform: capitalize;
            transition: background .7s linear;
            &:hover {
                background: #8DFD1B;
            }
        }
    }
}

/* Artist */

.artist {
    overflow: hidden;
    padding-bottom: 127px;
    &__wrapper {
        display: flex;
    }

    &__title {
        & p {
            font-family: $audiowide;
            font-size: 79px;
            line-height: 88px;
            color: #fff;
            text-transform: uppercase;
            &:first-child { 
                margin: 0 630px 0 -193px;
            }
        }
    }
}

/* List of Artists */

.artists-list {
    padding-bottom: 240px;
    &__wrapper {
        max-width: 1250px;
        padding-left: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
    }

    &__person {
        & h4 {
            margin-top: 20px; 
            line-height: 24px;
            font-family: $dmmono;
            color: #fff;
            text-align: center;
        }
    }
}

/* Story */

.story {
    padding-bottom: 120px;
    &__wrapper {
        max-width: 1260px;
        padding-left: 40px;
    }

    &__title {
        display: flex;
        justify-content: center;
        margin-bottom: 61px;
        text-align: center;
        text-transform: uppercase;
        & p:first-child {
            font-family: 'Audiowide';
            font-size: 37px;
            line-height: 45px;  
            color: #FFFFFF;
        }

        & p:last-child {
            font-family: 'Audiowide';
            font-size: 38px;
            line-height: 45px;
            color: #A8A8A8;
        }
    }

    &__section-founders, &__section-partners, &__section-future {
        width: 282px;
        padding: 25px 0 31px 28px;
    }

    &__section-founders {
        background: #222;
        & a {
            font-family: 'DM Mono';
            line-height: 16px;
            font-size: 16px;
            color: #8DFD1B;
        }
    }

    &__section-partners, &__section-future {
        & a {
            font-family: 'DM Mono';
            font-size: 16px;
            line-height: 16px;
            color: #FFFFFF;
        }
    }

    &__text {
        display: flex;
    }

    &__desc {
        max-width: 878px;
        background: #222;
        padding: 60px;
    }
        
    &__desc-wrapper {
        display: flex;
        gap: 40px;
    }
        
    &__desc-text {
        & p {
            font-family: 'Inter';
            line-height: 26px;
            color: #FFFFFF;
            &:nth-child(2) {
                margin-bottom: 18px;
            }

            &:nth-child(3) {
                margin-bottom: 17px;
            }
        }

        & p:first-child {
            margin-bottom: 32px;
            max-width: 494px;
            position: relative;
            font-family: 'DM Mono';
            font-size: 21px;
            line-height: 32px;
            color: #8DFD1B;
        }

        & p:first-child::before {
            content: "";
            width: 2px;
            height: 93px;
            background: #8DFD1B;
            position: absolute;
            top: 0;
            left: -22px;
        }
    }

    &__desc-title-wrapper {
        padding-left: 10px;
    }
}

/* Background */

.background {
    padding-bottom: 120px;
    &__wrapper{
        & img {
            width: 100%;
        }
    }
}

/* Roadmap */

.roadmap {
    padding-bottom: 240px;
    &__title {
        & p {
            margin-bottom: 61px;
            font-family: $audiowide;
            font-size: 38px;
            line-height: 45.48px;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
        }
    }

    &__stages-wrapper {
        padding: 45px 90px 48px 90px;
        max-width: 720px;
        margin: 0 auto;
    }

    &__stage {
        background: #222;
        border: 1px solid #8DFD1B;
        position: relative;
        z-index: 999;

        &:not(:last-child) {
            margin-bottom: 140px;
        }

        &:not(:last-child)::after {
            content: "";
            display: block;
            width: 1px;
            position: absolute;
            height: 40px;
            background: #8DFD1B;
            bottom: -85px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__stage-title {
        display: flex;
        align-items: center;
        gap: 11.75px;
        padding: 12px 12px 13px 12px;
        border-bottom: 1px solid #8DFD1B;

        & div:first-child {
            width: fit-content;
            padding: 8px 16px;
            font-size: 28px;
            font-family: $dmmono;
            line-height: 28.43px;
            color: #000;
            background: #8DFD1B;
        }

        & p:first-child {
            margin-bottom: 1px;
            font-family: $dmmono;
            font-size: 8px;
            line-height: 12px;
            /* identical to box height, or 150% */
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #8DFD1B;
        }

        & p:last-child {
            font-family: $dmmono;
            line-height: 28px;
            /* identical to box height, or 173% */
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }

    &__stage-info {
        padding: 30px 12px;
    }

    &__stage-info-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 75px;

        & div:first-child {
            & p {
                width: 298px;        
            }
        }

        & div:nth-child(2) {
            & p {
                width: 293px;
            }
        }

        & div:last-child {
            & p {
                width: 301px;
            }
        }

        & ul li, & p {
            font-size: 11px;
            font-family: $inter;
            color: #fff;
        }

        & ul {
            margin-bottom: 16.37px;
            padding-left: 22.25px;
            & li {
                line-height: 32px;
            }
        }

        & img {
            max-width: 129px;
            width: 100%;
            max-height: 129px;
            height: 100%;
        }

        & p {
            line-height: 25.6px; 
        }
    }
}

/* Partners */

.partners {
    padding-bottom: 245px;
    &__wrapper {
        max-width: 1200px;
        padding-left: 40px;
    }

    &__title{
        & p {
            margin-bottom: 50px;
            font-family: $dmmono;
            font-size: 11px;
            line-height: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-align: center;
            color: #8DFD1B;
        }
    }

    &__name-wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 85px;
        row-gap: 60px;
    }
}

/* FAQ */

.faq {
    padding-bottom: 115px;
    &__wrapper {
        max-width: 1350px;
        padding-left: 99px;
    }

    &__title {
        display: flex;
        column-gap: 220px;
    }

    &__text {
        & p {
            font-family: $audiowide;
            font-size: 38px;
            line-height: 45px;
            text-transform: uppercase;
            &:nth-child(odd) {
                color: #fff;
            }

            &:nth-child(2) {
                color: #a8a8a8;
            }
        }
    }

    &__text-wrapper {
        margin-bottom: 51px;
    }

    &__content {
        padding: 23px 30px 29px 30px;
        background: #222222;
    }
    
    &__content-text {
        & p {
            max-width: 514px;
            width: 100%;
            overflow-y: auto;
            margin-bottom: 25px;
            font-family: 'Inter';
            font-size: 12px;
            line-height: 19px;
            color: #C4C4C4;
        }

        & h5 {
            margin-bottom: 26px;
            font-family: $dmmono;
            line-height: 24px;
            color: #FFF;
        }
    }
}

/* Team */

.team {
    overflow: hidden;
    padding-bottom: 122px;
    &__wrapper {
        display: flex;
    }

    &__title {
        & p {
            font-family: $audiowide;
            font-size: 79px;
            line-height: 88px;
            text-transform: uppercase;
            color: #FFFFFF;
            &:first-child { 
                margin: 0 390px 0 -113px;
            }
        }
    }
}

